.app {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    justify-content: center;
    color: rgb(199, 182, 182);
}

.textField {
    width: 20rem;
}

body {
    background-color: rgb(77, 72, 72);
}